name: Code Coverage

on:
   push:
      branches: [main, development]
env:
  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
         
jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install coveralls
          pip install -r requirements.txt
      - name: Run coveralls
        run: |
          coverage run -m pytest
          coveralls
         
